/* ===== Global Fix ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8f9fc;
}

/* ===== Navbar ===== */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;      
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 25px;            
  background: linear-gradient(45deg,#1e3c72,#2a5298);
  color: white;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #ffd700;
}

/* ===== Hamburger Icon ===== */

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
/* ===== Product Grid ===== */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s ease;
  animation: fadeIn 0.8s ease-in;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

img {
  max-width: 100%;
  display: block;
}

/* ===== Buttons ===== */

button {
  background: linear-gradient(45deg,#667eea,#764ba2);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

/* ===== Custom Buttons ===== */

.btns {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.view-btn {
  padding: 8px 15px;
  background: #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.view-btn:hover {
  background: #bbb;
}

.premium-btn {
  padding: 6px 14px;   
  background: linear-gradient(135deg,#d1c51d,#d1c631);
  color: #1d1b1b;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.premium-btn:hover {
  transform: scale(1.05);
}

/* ===== Trending ===== */

.trending-card {
  transition: all 0.3s ease;
}

.trending-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* ===== Animation ===== */

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ===== Mobile Responsive ===== */

@media (max-width: 700px) {

  @media (max-width: 768px) {

  .menu-icon {
    display: block;   
  }

  .nav-links {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 220px;
    height: 100vh;
    background: #111;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    transition: 0.4s ease;
  }

  .nav-links.active {
    left: 0;  
  }

}
  }
